{% extends "Ashaworker/ashaworker_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="edit_code">
  <table width="200" border="1" class="table table-hover table-striped">
    <tr>
      <th scope="row">Name</th>
      <td><label>
        <input type="text" name="textfield" value="{{val['name']}}" required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Place</th>
      <td><input type="text" name="textfield2" value="{{val['place']}}" required/></td>
    </tr>
    <tr>
      <th scope="row">Post</th>
      <td><input type="text" name="textfield3" value="{{val['post']}}" required/></td>
    </tr>
    <tr>
      <th scope="row">Pin</th>
      <td><input type="text" name="textfield4" value="{{val['pin']}}" required pattern="[0-9]{6}"/></td>
    </tr>


<!--    <tr>-->
<!--      <th scope="row">Area</th>-->
<!--      <td><label>-->
<!--        <select name="select">-->
<!--          {% for i in val %}-->

<!--          <option value="{{i['id']}}">{{i['area']}}</option>-->

<!--          {% endfor %}-->
<!--        </select>-->
<!--      </label></td>-->
<!--    </tr>-->
    <tr>
      <th scope="row">Phone Number </th>
      <td><input type="text" name="textfield5" value="{{val['ph_no']}}" required pattern="[6789][0-9]{9}"/></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><input type="text" name="textfield6" value="{{val['email']}}" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"/></td>
    </tr>
    <tr>
      <th scope="row">Pregnant</th>
      <td><label>
        <select name="select2">
          <option {% if val['type'] == "Yes" %} selected {% endif %} >Yes</option>
          <option {% if val['type'] == "No" %} selected {% endif %} >No</option>
        </select>
      </label></td>
    </tr>
     <tr>
      <th scope="row">Number of child</th>
      <td><input type="number" name="child" value="{{val['no_of_child']}}" required/></td>
    </tr>
    <tr>
      <th scope="row">Latitude</th>
      <td><input type="text" name="textfield7" value="{{val['latitude']}}" required/></td>
    </tr>
    <tr>
      <th scope="row">Longitude</th>
      <td><input type="text" name="textfield8" value="{{val['longitude']}}" required/></td>
    </tr>


    <tr align="center">
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="SUBMIT" class="btn btn-primary" />
      </label></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}