{% extends "Ashaworker/ashaworker_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-hover table-striped">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Contact</th>
      <th scope="col">Number of childrens </th>
      <th scope="col">Pregnant/Not</th>
      <th scope="col">Location</th>
      <th scope="col">&nbsp;</th>
    </tr>

    {% for i in val %}

    <tr>
      <td>{{i['name']}}</td>
      <td>
        <b>Place: </b> {{i['place']}} <br>
        <b>Post: </b> {{i['post']}} <br>
        <b>Pin: </b> {{i['pin']}}
      </td>
      <td>  <b>Phone: </b> {{i['ph_no']}} <br>
        <b>Email: </b>{{i['email']}}
      </td>
      <td>{{i['no_of_child']}}</td>
      <td>{{i['type']}}</td>
      <td><a href="https://www.google.com/maps?q={{i['latitude']}},{{i['longitude']}}">View in map</a></td>
      <td><p><a href="accept_user?id={{i['l_id']}}">Accept</a></p>
      <p><a href="reject_user?id={{i['l_id']}}">Reject</a></p></td>
    </tr>

    {% endfor %}

  </table>
</form>
</body>
<!--</html>-->
{% endblock %}