{% extends "panchayath/panchayath_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="insert_vaccine_details">
  <table width="200" border="1" class="table table-hover table-striped">
    <tr>
      <th scope="col">Vaccine name </th>
      <th scope="col"><label>
        <input type="text" name="textfield" />
      </label></th>
    </tr>
    <tr>
      <th>Details</th>
      <td><label>
      <input type="text" name="textfield2" />
      </label></td>
    </tr>
    <tr>
      <th>Type</th>
      <td><label>
      <select name="textfield3">
        <option>Child</option>
        <option>Mother</option>
        <option>Pregnent Women</option>
      </select>
      </label></td>
    </tr>

    <tr>
      <th>Email Content</th>
      <td><input type="text" name="email"></td>
    </tr>

    <tr align="center">
      <td colspan="2"><label>
        <input type="submit" name="Submit" value="Add" class="btn btn-primary"/>
      </label></td>
    </tr>
  </table>
  <label></label>
</form>
</body>
<!--</html>-->
{% endblock %}