{% extends "panchayath/panchayath_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="update_vaccination_details">
  <table width="200" border="1" class="table table-hover table-striped">
    <tr>
      <th scope="col">Vaccine name </th>
      <th scope="col"><label>
        <input type="text" name="textfield" value="{{val['vaccine_name']}}" />
      </label></th>
    </tr>
    <tr>
      <th>Details</th>
      <td><label>
      <input type="text" name="textfield2" value="{{val['details']}}"/>
      </label></td>
    </tr>
    <tr>
      <th>Type</th>
      <td><label>
      <select name="textfield3">
        <option {% if val['type'] == "Child" %} selected {% endif %} >Child</option>
        <option {% if val['type'] == "Mother" %} selected {% endif %}>Mother</option>
        <option {% if val['type'] == "Pregnent Women" %} selected {% endif %}>Pregnent Women</option>
      </select>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <input type="submit" name="Submit" value="Add" />
      </label></td>
    </tr>
  </table>
  <label></label>
</form>
</body>
<!--</html>-->
{% endblock %}