{% extends "panchayath/panchayath_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="add_ashaworker#about">
  <table width="200" border="1" class="table table-hover table-striped">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Post Office </th>
      <th scope="col">Place</th>
      <th scope="col">Pincode</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Area</th>
      <th scope="col">&nbsp;</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i['name']}}</td>
      <td>{{i['post']}}</td>
      <td>{{i['place']}}</td>
      <td>{{i['pin']}}</td>
      <td>{{i['email']}}</td>
      <td>{{i['ph_no']}}</td>
      <td>{{i['area_name']}}</td>
      <td><p><a href="edit_ashaworker?id={{i['l_id']}}">Edit</a></p>
      <p><a href="delete_ashaworker?id={{i['l_id']}}">Delete</a></p></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="8"><label>
        <input type="submit" name="Submit" value="ADD" />
      </label></td>
    </tr>
  </table>
  <label></label>
</form>
</body>
<!--</html>-->
{% endblock %}