{% extends "panchayath/panchayath_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="add_vaccine_details">
  <table width="200" border="1" class="table table-hover table-striped">
    <tr>
      <th scope="col">Vaccine Name </th>
      <th scope="col">Details</th>
      <th scope="col">Type</th>
      <th scope="col">&nbsp;</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i['vaccine_name']}}</td>
      <td>{{i['details']}}</td>
      <td>{{i['type']}}</td>
      <td><p><a href="edit_vaccination_details?id={{i['id']}}">Edit</a></p>
      <p><a href="delete_vaccination_details?id={{i['id']}}">Delete</a></p></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="4"><label>
        <input type="submit" name="Submit" value="Add" />
      </label></td>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}