{% extends "panchayath/panchayath_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-hover table-striped">
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Details</th>
      <th scope="col">Image</th>
      <th scope="col">Type</th>
    </tr>
    {% for i in val%}
    <tr>
      <td>{{i['food']}}</td>
      <td>{{i['details']}}</td>
      <td><img src="../static/uploads/{{i['image']}}" width="200" height="200"> </td>
      <td>{{i['type']}}</td>

    </tr>

    {% endfor %}

  </table>
</form>
</body>
<!--</html>-->
{% endblock %}