{% extends "panchayath/panchayath_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table  border="1" class="table table-hover table-striped">
    <tr>
      <th scope="row">Name</th>
      <td>Addrerss</td>
      <td>Area</td>
      <td>Contact</td>
      <td>Number of children </td>
	  <td>Location</td>
	  <td>Child</td>
    </tr>

    {% for i in val %}

    <tr>
      <th>{{i['name']}}</th>
      <td>

        <b>Place: </b> {{i['place']}} <br>

        <b>Post: </b> {{i['post']}} <br>
        <b>Pin: </b> {{i['pin']}}

      </td>
      <td>{{i['area']}}</td>
      <td>
        <b>Phone: </b> {{i['ph_no']}} <br>
        <b>Email: </b>{{i['email']}}

      </td>
      <td>{{i['no_of_child']}}</td>
	  <td><a href="https://www.google.com/maps?q={{i['latitude']}},{{i['longitude']}}">View in map</a></td>

      <td><a href="panchayath_view_child_details?id={{i['l_id']}}">View</a> </td>

    </tr>

    {% endfor %}

  </table>
</form>
</body>
<!--</html>-->
{% endblock %}