{% extends "User/user_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="view_vaccine_details2">
  <table width="200" border="1" class="table table-hover table-striped table-bordered">
    <tr>
      <th colspan="3" scope="col"><label>
        <select name="select">
          <option>Child</option>
          <option>Mother</option>
        </select>
        <input type="submit" name="Submit" value="Search" />
      </label></th>
    </tr>
    <tr>
      <td>Vaccine Name </td>
      <td>Details</td>
      <td>Date</td>
    </tr>

    {% for i in val %}

    <tr>
      <td>{{i['vaccine_name']}}</td>
      <td>{{i['details']}}</td>
      <td>{{i['date']}}</td>
    </tr>

    {% endfor %}

  </table>
</form>
</body>
{% endblock %}
