<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="forgot_password_otp" method="post">
        <table border="1">
            <tr>
                <th>Type</th>
                <th>
                    <select name="type">
                        <option>Panchayath</option>
                        <option>Ashaworker</option>
                        <option>User</option>
                    </select>
                </th>
            </tr>

            <tr>
                <th>Mail</th>
                <th><input type="text" name="textfield"></th>
            </tr>

            <tr>
                <th colspan="2"><input type="submit" value="Get OTP"></th>
            </tr>

        </table>
    </form>
</body>
</html>