{% extends "Admin/admin_index.html" %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="add_scheme#about">
  <table width="200" border="1" class="table table-bordered table-hover table-striped" >
    <tr>
      <th scope="col">Scheme Name </th>
      <th scope="col">Details</th>
      <th scope="col">Date</th>
      <th scope="col">&nbsp;</th>
    </tr>
    {% for i in val %}

    <tr>
      <td>{{i['scheme_name']}}</td>
      <td>{{i['details']}}</td>
      <td>{{i['date']}}</td>
      <td><p><a href="edit_scheme?id={{i['id']}}#about">Edit</a></p>
      <p><a href="delete_scheme?id={{i['id']}}#about">Delete</a></p></td>
    </tr>

    {% endfor %}

    <tr align="center">
      <td colspan="4"><label>
        <input type="submit" name="Submit" value="ADD NEW" class="btn btn-primary" />
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
