{% extends "Admin/admin_index.html" %}
{% block body %}


<body>
<table width="200" border="1" class="table table-bordered table-hover table-striped">
  <tr>
    <th scope="col">Panchayath Name </th>
    <th scope="col">Report</th>
    <th scope="col">Date</th>
  </tr>
  {% for i in val %}
  <tr align="center">
    <td>{{i['name']}}</td>
    <td><a href="../static/uploads/{{i['report']}}"> {{i['report']}}</a></td>
    <td>{{i['date']}}</td>
  </tr>
  {% endfor %}
</table>
</body>
{% endblock %}
